
if (TARGET_MYIMX6EK200 || TARGET_MYIMX6EK314 || TARGET_MYIMX6ACO)

config SYS_BOARD
	default "myimx6"

config SYS_VENDOR
	default "myzr"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "myimx6qdls"
	
endif

if (TARGET_MYIMX6EK140)

config SYS_BOARD
	default "myimx6"

config SYS_VENDOR
	default "myzr"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "myimx6ul"
	
endif
